<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test NODEJS</title>
</head>

<body>
    <h1>Hello world from views</h1>
    <ul>
        <% data.forEach(user=> { %>
            <li>ID: <%= user.id %>, Name: <%= user.firstName %>
                        <%= user.lastName %>, Email: <%= user.email %>
            </li>
            <% }); %>
    </ul>

</body>

</html>